
html,
        body,
        #main {
            height: 100%;
        }
        /* Navigation*/
        
        .navbar {
            background-color: transparent;
            margin-bottom: 0 !important;
            vertical-align: middle;
            form input {
                height: 2rem;
            }
            * {
                font-size: 1.5rem !important;
            }
        }

        .navbar-brand {
            padding-top: 0.5rem;
        }
        
        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }
        
        .top-nav-collapse {
            background-color: #1C2331;
        }
        
        footer.page-footer {
            background-color: #1C2331;
            margin-top: -1px;
        }
        
        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #1C2331;
            }
        }
        /*Call to action*/
        
        .flex-center {
            color: #fff;
        }
        
        #main {
            background: url("http://i.imgur.com/vIzBnIV.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }